{% extends 'app/base.html' %}
{% load static %}


{%block css%}
{%endblock css%}

{%block content%}

{%include 'app/nav.html' %}
<form class="form-horizontal form-label-left" method="POST" novalidate>
  {% csrf_token %}
  <div class="Pod_section">
    
    <h2 class="text-center Pod_number"> Housekeeping Page</h2>         
    <h2 class="text-center">
      <p>Pod: {{key1.group_key}} &nbsp District: {{obj|upper}}</p>
    </h2>       
    <div class="container">
      <h2 class="text-center Pod_number">First Delegate:
        {% for item in all%}
          {{item.group_owner.name}}
        {%endfor%}
      </h2>
        {%if owner_id == request.user.id%}
            <p class="text-center ">Pod Invitation Key is:
              {% for item in users %}
                <span class="m-1" > 
                  <span id="key_idss">{{item.group_key}}</span>
                  <img id="copy_invitation_key" title="copy invitation key" src="{%static 'image/copy-solid.svg' %}" 
                  style="margin-left: 10px; margin-right: 10px;" 
                  width="15" alt="copy code">
                </span>
                <span style="position: absolute;" class="text-success" id="copied"></span>
              {%endfor%}
            </p>
        {%endif%}
    </div>

    <div class="btn_section text-center mb-5">
      {% if  owner_id == request.user.id%}
        <button id="send" type="submit" name="updateKey"  class="btn btn-success">Update Key</button>
        <a class="btn btn-success" href="{%url 'vote:member_index'%}">Members</a>
      {%elif is_key_generate == 1%}
        <button id="send_generate_key" type="submit" name="hello" class="btn btn-success">Generate Key</button> 
      {% endif  %}  
    </div>
    
    <div class="container">
      <div class="row" style="overflow: auto; display: block; white-space: nowrap;">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Member ID</th>
              <th>Name </th>
              <th>Votes</th> 
              <th>Devote</th>
              <th>Election</th>   
              <th>delete</th>              
            </tr>
          </thead>  
        
          <tbody>     
            {% for users_list in stat%}    
          <tr>  
            {%if forloop.counter < 10%}
            <td>{{0}}{{forloop.counter}}
            {%endif%}
            
            <td>{{users_list.member.name }}</td>
            <td class="text-center">
              {% if  votegive == 0 and users_list.member_status == 0 %}
                <button type="submit" class="btn btn-sm btn-success vote" name="submit"  value={{users_list.id}}>vote now</button>       
              {% endif  %}
            </td>
            <td>
              {% if  devote != 0 and  users_list.member_status == 0%}
              <button type="submit" class="btn vote" name="devote"  value={{users_list.id}}>Remove vote</button>
              {%endif%}
            </td>
  
            <td>
              {% if  podlen >= 5 and users_list.member_status == 1 and evote == 0 %}
                <button type="submit" name="elect" value={{users_list.id}}>Election</button>
              {% endif  %}
            </td>
            
            <td class="text-center">
              {% if  users_list.member_status == 0 and owner_id == request.user.id %}
                <button type="submit" class="btn btn-danger btn-sm delete" name="Delete" value={{users_list.id}}>Delete</button>  
              {% endif  %}
            </td>    
            {%endfor%}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>


<!-- this is for testing -->
{%comment%}
<div class="container">
  <div class="row">
    <ul>
      {{key1.group_owner}}
      {%for i in key1.Members%}
        <p>{{i.id}}- {{i.member}}= {{i.member_status}} {%if i.member == key1.group_owner %}True {%else%}false{%endif%}</p>
      {%endfor%}
    </ul>
  </div>
</div>
{%endcomment%}
{%endblock content%}

{%block js%}
<script src="{% static 'pod_invitationKeyCopy.js' %}"></script>

{%endblock js%}

