{% extends 'app/base.html'%}
{% load static %}

{%block content%}

{% include 'app/nav.html' %}

<div class="container">
    <div class="row">
        <div class="col col-md-3"></div>
        <div class="col col-md-6">
            <h3 class="text-success text-center">Congratulations </h3>
            <p class="text-center">
                Here is your unique entry code. 
                Please write it down and save it somewhere safe, or memorize it.  
                To Enter the Floor, you will also need to use the password you entered when 
                you signed up.
            </p>
            <p class="text-center"><strong>{{entry_code}}</strong></p>
            <br>
            <p class="text-center">
                <a href="/show" class="btn btn-primary">Take me to my Voter Page</a>
            </p>
        </div>
        <div class="col col-md-3"></div>
    </div>
</div>

{%endblock content%}


