{%extends 'app/base.html'%}
{% load static %}


{%block css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<style>
  table caption {
padding: .5em 0;
}

table.dataTable th
{
white-space: nowrap;
}
table.dataTable td {
white-space: nowrap;
}

table.dataTable {
  border-collapse:collapse!important;
}

input[type="search"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

</style>
{%endblock css%}

{%block content%}
{%include 'app/nav.html'%}

<div class="container">
  <form class="form-horizontal form-label-left" method="POST" novalidate id="compare">
    {% csrf_token %}
      <div class="container">
        <div class="row mt-5">
          <div class="col-xs-12" style="overflow: auto; display: block;">
            <table class="table table-bordered table-hover dt-responsive mt-3" >
              <thead>
                <tr>
                  <th>S.No</th>
                  <th> District</th>
                  <th> Name </th>
                  <th> Email </th>
                  <th> member_comment </th>
                </tr>
              </thead>
              <tbody>  
              {% for users_list in context%}
                <tr>
                  {%if forloop.counter < 10%}
                    <td>{{0}}{{forloop.counter}}</td>
                  {%endif%}
                  <td>{{users_list.district }}</td>
                  <td> {{users_list.name}}</td>
                  <td>{{users_list.email}}</td>
                  <td>
                    <textarea type="textarea" name="text" form="compare"></textarea> 
                    <button type="submit" class="btn vote" name="subm" value="{{users_list.id}}">Submit</button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </form>
</div>

{%endblock content%}

{%block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" ></script>
<script>
  $('table').DataTable();
  </script>
{%endblock js%}

