{%extends 'app/base.html' %}
{% load static %}


{%block css%}
{%endblock css%}

{%block content%}
{% include 'app/nav.html' %}
<div class="container mt-5">
  <div class="row">

  <div class="col-sm-12 col-md-3"></div>
  <div class="col-sm-12 col-md-6">

    <h1 class="text-center">Join a Pod</h1>
    <div class="">
      <h4 class="text-left">You must have an Invitation Key to join a Pod.</h4>
      <p class="text-left">The First Delegate of a pod should send you an Invitation Key. This cannot be done via the website.</p>
      <p class="text-left">Or you can create your own Pod and start inviting others to join it.</p>
    </div>
    <fieldset>
      <h1>{{disti}}</h1>
      <div class="text-left section_lable_Input_Pod">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            
            <label for="POD">Enter Pod_key</label>
            <input class="form-control" type="text" name="pod_key" id="pod_key" />
          
            {% if messages%}
              <ul class="messages mt-2">
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="row">
                    {%if "invalid" in message.tags%}
                    <div class="col-sm-12">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                          <p>{{ message }}</p> 
                      </div>
                    </div>
                    {%endif%}
                    {%if "don" in message.tags%}
                    <div class="col-sm-12">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <p>{{ message }}</p> 
                      </div>
                    </div>
                    {%endif%}  

                    {%if "user" in message.tags%}
                    <div class="col-sm-12">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <p>{{ message }}</p> 
                      </div>
                    </div>
                    {%endif%}    
                  {% endfor %}
                  </div>
                </div>
              </ul> 
            {%endif%}
          
            <input type="submit" 
              name="commit" 
              value="Join the pod" 
              class="btn-xl btn-primary" 
              data-disable-with="Enter the Floor" />
        </form> 
      </div>
    </fieldset>
  </div>
  <div class="col-sm-12 col-md-3"></div>
</div>
</div>


{%endblock content%}

{%block js%}

{%endblock js%}
